In [598]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

# from sklearn.metrics import accuracy_score
# from sklearn.model_selection import cross_val_score

# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier

In [599]:
df = pd.read_csv("/content/meritbased1.csv",names=["college", "dept", "rank", "minmerit"])

In [600]:
df.head(5)

,college,dept,rank,minmerit
0,Dhirubhai Ambani Institute of Info. & Comm. Te...,HONS. IN ICT WITH MINOR IN COMPUTATIONAL SCI,58.0,99.646077
1,Dhirubhai Ambani Institute of Info. & Comm. Te...,MATHEMATICS AND COMPUTING,123.0,99.333210
2,Dhirubhai Ambani Institute of Info. & Comm. Te...,INFORMATION & COMMUNICATION TECHNOLOGY,158.0,99.243162
3,"Faculty Of Technology And Engineering(GIA), Dh...",COMPUTER ENGINEERING,265.0,98.805053
4,"Institute Of Technology, Nirma University Of S...",COMPUTER SCIENCE & ENGINEERING,325.0,98.615422

In [601]:
# df.values

In [602]:
# df.axes

In [603]:
# df.ndim

In [604]:
# df.size

In [605]:
# df.memory_usage

In [606]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   college   798 non-null    object
 1   dept      798 non-null    object
 2   rank      347 non-null    float64
 3   minmerit  347 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.1+ KB

In [607]:
df.isnull().sum()

college       0
dept          0
rank        451
minmerit    451
dtype: int64

In [608]:
df.describe()

               rank    minmerit
count    347.000000  347.000000
mean   21197.360231   43.916667
std    12217.740822   33.610132
min       58.000000    0.195797
25%    10193.000000    9.647352
50%    22955.000000   43.218736
75%    33737.500000   74.376833
max    34584.000000   99.646077

In [609]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   college   798 non-null    object
 1   dept      798 non-null    object
 2   rank      347 non-null    float64
 3   minmerit  347 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.1+ KB

In [610]:
# df.corr()

In [611]:
# sns.countplot(df['minmerit'])
# #df['rank'].value_counts().plot(kind='bar')

In [612]:
# sns.countplot(df['rank'])

In [613]:
df.dropna(inplace=True)

In [614]:
df.isnull().sum()

college     0
dept        0
rank        0
minmerit    0
dtype: int64

In [615]:
df.duplicated().sum()

0

In [616]:
# df.iloc[0].college

In [617]:
# df.values.tolist()

In [618]:
df.head()

,college,dept,rank,minmerit
0,Dhirubhai Ambani Institute of Info. & Comm. Te...,HONS. IN ICT WITH MINOR IN COMPUTATIONAL SCI,58.0,99.646077
1,Dhirubhai Ambani Institute of Info. & Comm. Te...,MATHEMATICS AND COMPUTING,123.0,99.333210
2,Dhirubhai Ambani Institute of Info. & Comm. Te...,INFORMATION & COMMUNICATION TECHNOLOGY,158.0,99.243162
3,"Faculty Of Technology And Engineering(GIA), Dh...",COMPUTER ENGINEERING,265.0,98.805053
4,"Institute Of Technology, Nirma University Of S...",COMPUTER SCIENCE & ENGINEERING,325.0,98.615422

In [619]:

# df['college'].apply(lambda x:[i.replace(","," ") for i in x])

In [620]:
Loc = df.iloc[0].college.split(sep=None)
Loc[-1]

'Gandhinagar'

In [621]:
df['Location'] = df['college'].apply(lambda x:x.split(sep=None)[-1])

In [622]:
# Loc = df.iloc[0].college.split(sep=None)
# List = []
# if Loc[0] == Govenrment:
#   List = List.append

In [623]:
df.sample(5)

,college,dept,rank,minmerit,Location
273,"Chhotubhai Gopalbhai Patel Institute Of Tech.,...",COMPUTER ENGINEERING,34022.0,7.556698,Bardoli
221,"Smt. S.R. Patel Engg. College, Dabhi, Unjha",COMPUTER ENGINEERING,32678.0,15.175546,Unjha
188,"Government Engineering College, Palanpur",CIVIL ENGINEERING,26017.0,35.593118,Palanpur
284,Shri Sitaram N Patel Inst. Of Tech. & Res. (Vi...,CHEMICAL ENGINEERING,34209.0,5.913969,Umrakh
146,"Parul Institute of Engineering & Technology, W...",INFORMATION TECHNOLOGY,17860.0,55.937674,Vadodara

In [624]:
# if'Government' in x:
#     return 1
# elif 'L.D.College Of Engineering, Ahmedabad' in x:
#     return 1
# else:
#     return 0

In [625]:
def parse_values(x):
    if'Government' in x:
        return 1
    elif 'L.D.College Of Engineering, Ahmedabad' in x:
        return 1
    else:
        return 0

# df['college'].apply(parse_values)
df['Govt'] = df['college'].apply(parse_values)

In [626]:
# df['Govt'] = df['college'].apply(lambda x:1 if 'Government' in x  elif 'L.D.College Of Engineering, Ahmedabad' in x else 0 )
# # df['Govt'] = df['college'].apply(lambda x:1 if 'L.D.College Of Engineering, Ahmedabad' in x  else 0 )

In [627]:
df.sample(5)

,college,dept,rank,minmerit,Location,Govt
79,"Government Engineering College, Patan",COMPUTER SCIENCE & ENGINEERING,9280.0,76.536293,Patan,1
135,Madhuben & Bhanubhai Patel Institute of Techno...,COMPUTER ENGINEERING,15257.0,62.201812,V.V.Nagar,0
342,"Government Engineering College, Dahod",CIVIL ENGINEERING,34560.0,1.101676,Dahod,1
261,"Sardar Vallabhbhai Patel Institute Of Tech.,Vasad",MECHANICAL ENGINEERING,33773.0,9.345926,"Tech.,Vasad",0
71,"L.E.College ,Morbi",INFORMATION TECHNOLOGY,7772.0,79.993771,",Morbi",0

In [628]:
df['dept'] = df['dept'].str.replace(" ","")
# df['college'] = df['college'].str.replace(" ","")

In [629]:
df['dept'] = df['dept'].apply(lambda x:x.lower())
df['Location'] = df['Location'].apply(lambda x:x.lower())
# df['college'] = df['college'].apply(lambda x:x.lower())

In [630]:
df.sample(5)

,college,dept,rank,minmerit,Location,Govt
205,Unitedworld School of Computational Intelligen...,computerscience&engineering(artificialin,29704.0,25.597337,gandhinagar,0
310,"K.J. Institute Of Engg. And Tech., Savali",informationtechnology,34407.0,3.933216,savali,0
16,"Pandit Deendayal Energy University , Gandhinagar",computerengineering,1665.0,94.697064,gandhinagar,0
268,"C.U.Shah College Of Engg.& Tech., Wadhvan",computerengineering,33931.0,8.292608,wadhvan,0
59,"L.J. Institute Of Engg And Tech., Ahmedabad",computerscience&engineering,6215.0,83.722044,ahmedabad,0

In [631]:
# input_dept
# input_Location

In [632]:
df1 = df[df['dept'] == 'informationtechnology']
print(df1.shape)
df1.head(5)

(54, 6)

,college,dept,rank,minmerit,Location,Govt
9,"L.D.College Of Engineering, Ahmedabad",informationtechnology,855.0,96.963150,ahmedabad,1
10,"Faculty Of Technology(Sfi), Dharmsinh Desai Un...",informationtechnology,1108.0,96.254742,nadiad,0
13,"Vishwakarma Government Engineering College,\nC...",informationtechnology,1371.0,95.560045,"chandkheda,gandhinagar",1
14,"Birla Vishvakarma Maha Vidhylaya(Sfi), V.V.Nagar",informationtechnology,1594.0,94.916527,v.v.nagar,0
22,"Government Engineering College Sector 28, Gand...",informationtechnology,2261.0,93.204631,gandhinagar,1

In [633]:
filter_criteria = (df['dept'] == 'informationtechnology') & (df['Location'] == 'ahmedabad') & (df['Govt'] == 1)
df1m = df[filter_criteria]
print(df1m.shape)
df1m.head()

(1, 6)

,college,dept,rank,minmerit,Location,Govt
9,"L.D.College Of Engineering, Ahmedabad",informationtechnology,855.0,96.96315,ahmedabad,1

In [634]:
df1_op = df[~filter_criteria]
df1_op.head()

,college,dept,rank,minmerit,Location,Govt
0,Dhirubhai Ambani Institute of Info. & Comm. Te...,hons.inictwithminorincomputationalsci,58.0,99.646077,gandhinagar,0
1,Dhirubhai Ambani Institute of Info. & Comm. Te...,mathematicsandcomputing,123.0,99.333210,gandhinagar,0
2,Dhirubhai Ambani Institute of Info. & Comm. Te...,information&communicationtechnology,158.0,99.243162,gandhinagar,0
3,"Faculty Of Technology And Engineering(GIA), Dh...",computerengineering,265.0,98.805053,nadiad,0
4,"Institute Of Technology, Nirma University Of S...",computerscience&engineering,325.0,98.615422,ahmedabad,0

In [635]:
for col in df.columns:
    print(col, ':',len(df[col].unique()),'labels')

college : 112 labels
dept : 53 labels
rank : 347 labels
minmerit : 344 labels
Location : 45 labels
Govt : 2 labels

In [636]:
pd.get_dummies(df,drop_first=True).shape

(347, 210)

In [637]:
df['dept'] = df['dept'].str.replace("computerscience&engineering","computerengineering")

In [638]:
# df.dept.value_counts().sort_values(ascending = False).head(20)

In [639]:
# df.dept.value_counts().to_dict()

In [640]:
# df.college.value_counts().to_dict()

In [641]:
# df.college.value_counts().sort_values(ascending = False).head(20)

In [642]:
df_frequency_map = df.dept.value_counts().to_dict()
df_college_counts = df.college.value_counts().to_dict()
df_Location_counts = df.Location.value_counts().to_dict()

In [643]:
df.dept = df.dept.map(df_frequency_map)
df.college = df.college.map(df_college_counts)
df.Location = df.Location.map(df_Location_counts)

In [644]:
df.head()

   college  dept   rank   minmerit  Location  Govt
0        3     1   58.0  99.646077        39     0
1        3     1  123.0  99.333210        39     0
2        3     9  158.0  99.243162        39     0
3        5    98  265.0  98.805053        11     0
4        7    98  325.0  98.615422        66     0

In [645]:
# inv_map = {v: k for k, v in df.dept.items()}

In [646]:
# inv_map = {v: k for k, v in df.dept.items()}

In [647]:
# dict((v, k) for k, v in df.college.items())

In [648]:
# inv_map = {}
# for k, v in df.college.items():
#     inv_map[v] = inv_map.get(v, []) + [k]

In [695]:
# def inverse_mapping(f):
#     return f.__class__(map(reversed, f.items()))

In [696]:
# # df.dept = inverse_mapping(df_college_counts)
# df.dept = df.dept.inverse_mapping(df_college_counts)

In [649]:
df.head()

   college  dept   rank   minmerit  Location  Govt
0        3     1   58.0  99.646077        39     0
1        3     1  123.0  99.333210        39     0
2        3     9  158.0  99.243162        39     0
3        5    98  265.0  98.805053        11     0
4        7    98  325.0  98.615422        66     0

In [650]:
# sns.pairplot(df,hue='minmerit')

In [651]:
# df['Govt'].value_counts().plot(kind = 'bar')

In [652]:
# sns.barplot(x = df['Govt'],y = df['minmerit'])

In [653]:
# sns.displot(df['rank'])

In [654]:
# sns.displot(df['minmerit'])

In [655]:
# df['college'].value_counts().plot(kind='bar')

In [656]:
# df['dept'].value_counts().plot(kind='bar')

In [657]:
# sns.barplot(y=df['minmerit'],x=df['college'])
# plt.xticks(rotation='vertical')
# plt.show()

In [658]:
# sns.barplot(y=df['minmerit'],x=df['dept'])
# plt.xticks(rotation='vertical')
# plt.show()

In [659]:
# sns.scatterplot(x = df['college'],y = df['minmerit'])
# plt.xticks(rotation='vertical')
# plt.show()

In [660]:
df['college'].value_counts()

2     76
5     55
3     54
6     30
7     28
4     28
1     24
14    14
11    11
10    10
9      9
8      8
Name: college, dtype: int64

In [661]:
df['dept'].value_counts()

98    98
54    54
1     32
27    27
25    25
24    24
21    21
18    18
4     16
2     10
9      9
7      7
3      6
Name: dept, dtype: int64

In [662]:
# from sklearn.preprocessing import StandardScaler
# std_scaler = StandardScaler()
# df = std_scaler.fit_transform(df.to_numpy())
# df = pd.DataFrame(df_scaled, columns=[
#   'college','dept','rank','minmerit','Location','Govt'])
# df_scaled.head()
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
df_scaled = std_scaler.fit_transform(df.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=[
  'college','dept','rank','minmerit','Location','Govt'])
print("Scaled Dataset Using StandardScaler")
df = df_scaled
df.head()

Scaled Dataset Using StandardScaler

    college      dept      rank  minmerit  Location      Govt
0 -0.569716 -1.180083 -1.732717  1.660508  0.560696 -0.542933
1 -0.569716 -1.180083 -1.727389  1.651186  0.560696 -0.542933
2 -0.569716 -0.963594 -1.724520  1.648503  0.560696 -0.542933
3  0.065948  1.444846 -1.715750  1.635449 -0.668483 -0.542933
4  0.701612  1.444846 -1.710832  1.629798  1.745976 -0.542933

In [663]:
# y = df.drop(columns = ['rank'])
X = df.iloc[:, [2,3]]
# X = df['rank']
# y = df['college']
y= df.iloc[:, [0,1,4,5]]

In [664]:
# plt.scatter(X,y)
# plt.xlabel('X')
# plt.ylabel('y')

In [665]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state = 2)

In [666]:
X_train

         rank  minmerit
210  0.825536 -0.694517
257  1.023239 -1.010907
157 -0.142979  0.237496
314  1.084222 -1.197700
340  1.094632 -1.262154
..        ...       ...
299  1.075943 -1.163242
22  -1.552145  1.468579
72  -1.090674  1.066915
15  -1.606571  1.519344
168  0.022101  0.089644

[277 rows x 2 columns]

In [667]:
X_test

         rank  minmerit
67  -1.114936  1.087665
170  0.054150  0.062142
20  -1.564358  1.479626
99  -0.795349  0.813486
286  1.067501 -1.135189
..        ...       ...
315  1.085861 -1.205789
35  -1.441244  1.367547
317  1.086681 -1.211167
70  -1.103871  1.078237
10  -1.646652  1.559460

[70 rows x 2 columns]

In [668]:
y_train

      college      dept  Location      Govt
210 -0.569716 -0.530616  1.745976 -0.542933
257  0.065948 -1.180083 -0.931879 -0.542933
157 -0.251884  1.444846 -0.975778 -0.542933
314 -0.569716  1.444846 -0.361189 -0.542933
340 -0.887548 -0.530616 -1.063577 -0.542933
..        ...       ...       ...       ...
299 -0.251884 -0.963594 -0.624584 -0.542933
22  -0.251884  0.254156  0.560696  1.841848
72   0.383780 -0.557677 -0.668483 -0.542933
15   1.655108 -0.638861  0.385099 -0.542933
168 -0.887548 -0.638861  1.745976 -0.542933

[277 rows x 4 columns]

In [669]:
y_test

      college      dept  Location      Govt
67   1.337276 -1.098900 -0.097793 -0.542933
170  1.972939 -1.180083  1.745976 -0.542933
20   0.065948  1.444846 -0.800181 -0.542933
99  -0.569716  0.254156  1.745976 -0.542933
286 -0.887548  0.254156  1.745976 -0.542933
..        ...       ...       ...       ...
315 -0.887548  0.254156 -1.063577 -0.542933
35   1.655108 -0.557677  0.385099 -0.542933
317 -0.569716 -0.476494  1.745976 -0.542933
70   0.701612 -0.720044  0.560696  1.841848
10   0.383780  0.254156 -0.668483 -0.542933

[70 rows x 4 columns]

In [670]:
X_train

         rank  minmerit
210  0.825536 -0.694517
257  1.023239 -1.010907
157 -0.142979  0.237496
314  1.084222 -1.197700
340  1.094632 -1.262154
..        ...       ...
299  1.075943 -1.163242
22  -1.552145  1.468579
72  -1.090674  1.066915
15  -1.606571  1.519344
168  0.022101  0.089644

[277 rows x 2 columns]

In [671]:
df.head()

    college      dept      rank  minmerit  Location      Govt
0 -0.569716 -1.180083 -1.732717  1.660508  0.560696 -0.542933
1 -0.569716 -1.180083 -1.727389  1.651186  0.560696 -0.542933
2 -0.569716 -0.963594 -1.724520  1.648503  0.560696 -0.542933
3  0.065948  1.444846 -1.715750  1.635449 -0.668483 -0.542933
4  0.701612  1.444846 -1.710832  1.629798  1.745976 -0.542933

In [672]:
import plotly.express as px
fig  = px.scatter_3d(df,x= df['college'], y = df['dept'], z = df['minmerit'],color = df['Govt'].astype('str'))
fig.update_traces(marker=dict(size = 12,line= dict(width = 2,color = 'DarkSlateGrey')),selector = dict(mode ='markers'))
fig.show()

In [673]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [674]:
X_test

         rank  minmerit
67  -1.114936  1.087665
170  0.054150  0.062142
20  -1.564358  1.479626
99  -0.795349  0.813486
286  1.067501 -1.135189
..        ...       ...
315  1.085861 -1.205789
35  -1.441244  1.367547
317  1.086681 -1.211167
70  -1.103871  1.078237
10  -1.646652  1.559460

[70 rows x 2 columns]

In [675]:
y_test

      college      dept  Location      Govt
67   1.337276 -1.098900 -0.097793 -0.542933
170  1.972939 -1.180083  1.745976 -0.542933
20   0.065948  1.444846 -0.800181 -0.542933
99  -0.569716  0.254156  1.745976 -0.542933
286 -0.887548  0.254156  1.745976 -0.542933
..        ...       ...       ...       ...
315 -0.887548  0.254156 -1.063577 -0.542933
35   1.655108 -0.557677  0.385099 -0.542933
317 -0.569716 -0.476494  1.745976 -0.542933
70   0.701612 -0.720044  0.560696  1.841848
10   0.383780  0.254156 -0.668483 -0.542933

[70 rows x 4 columns]

In [676]:
lr.predict(X_test.iloc[1].values.reshape(1,-1))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning:

X does not have valid feature names, but LinearRegression was fitted with feature names

array([[-0.04075992, -0.11993485,  0.00335658, -0.05692164]])

In [677]:
y_pred1 = lr.predict(X_test)
y_pred1

array([[ 3.62124664e-01,  1.65585984e-01,  2.97519592e-01,
         6.83885626e-02],
       [-4.07599217e-02, -1.19934849e-01,  3.35657912e-03,
        -5.69216350e-02],
       [ 5.17331509e-01,  2.77130477e-01,  4.09843628e-01,
         1.17789535e-01],
       [ 2.51096330e-01,  8.26934843e-02,  2.19163813e-01,
         3.07982970e-02],
       [-3.45241175e-01, -1.25156161e-01, -3.54607025e-01,
         1.34648227e-03],
       [ 3.60575438e-01,  1.64375584e-01,  2.96460899e-01,
         6.78249888e-02],
       [-3.45283995e-01, -1.49320171e-01, -3.39090809e-01,
        -1.61997640e-02],
       [-3.40596929e-01, -1.84564760e-01, -3.10823273e-01,
        -4.27600455e-02],
       [ 2.16571126e-01,  5.51321327e-02,  1.95948502e-01,
         1.78123321e-02],
       [-1.34099009e-01, -1.77894538e-01, -7.00697181e-02,
        -8.00039360e-02],
       [-3.25930332e-01, -2.26258938e-01, -2.66558069e-01,
        -7.60399986e-02],
       [-7.99853478e-02, -1.43833476e-01, -2.77960911e-02,
        -6.62886276e-02],
       [-1.24220183e-01, -1.71992760e-01, -6.21486009e-02,
        -7.77299050e-02],
       [ 5.59046642e-01,  2.94701971e-01,  4.48026918e-01,
         1.22052445e-01],
       [ 1.57720110e-01,  1.58905506e-02,  1.51390480e-01,
         1.29901264e-03],
       [-1.73797813e-01, -2.06218189e-01, -9.89334382e-02,
        -9.24891892e-02],
       [ 1.89459675e-01,  3.76728385e-02,  1.75023089e-01,
         1.06543177e-02],
       [-3.06397529e-01, -2.39073368e-01, -2.35123169e-01,
        -8.93308910e-02],
       [-1.33923381e-01, -1.77608183e-01, -7.00457776e-02,
        -7.98316989e-02],
       [-3.35407667e-01, -2.39043214e-02, -4.08166468e-01,
         7.29008639e-02],
       [ 5.06938948e-01,  2.70573794e-01,  4.01734767e-01,
         1.15144434e-01],
       [ 2.65222457e-01,  9.01911409e-02,  2.31097091e-01,
         3.33660093e-02],
       [-3.44827757e-01, -1.05367026e-01, -3.66865055e-01,
         1.56388770e-02],
       [-3.30190831e-01, -2.18885269e-01, -2.76364287e-01,
        -6.98146804e-02],
       [ 4.98766980e-01,  2.65273583e-01,  3.95451632e-01,
         1.12959533e-01],
       [-3.43827593e-01, -1.65497899e-01, -3.26940422e-01,
        -2.82496168e-02],
       [ 2.83330659e-01,  1.05493282e-01,  2.42728054e-01,
         4.07919694e-02],
       [ 9.14120074e-02, -3.26241247e-02,  1.03957096e-01,
        -2.04311882e-02],
       [ 2.02293236e-01,  4.52171084e-02,  1.85392452e-01,
         1.35193535e-02],
       [ 4.05191777e-02, -6.63936931e-02,  6.53178366e-02,
        -3.45912199e-02],
       [ 5.26731533e-01,  2.82433579e-01,  4.17582232e-01,
         1.19726226e-01],
       [-3.45160604e-01, -1.26448247e-01, -3.53679019e-01,
         3.91369106e-04],
       [ 4.81182796e-01,  2.53407628e-01,  3.82228846e-01,
         1.07923129e-01],
       [-3.45268921e-01, -1.21716608e-01, -3.56855794e-01,
         3.85094783e-03],
       [-3.16906918e-01, -2.31371654e-01, -2.52556268e-01,
        -8.15935604e-02],
       [ 3.79239482e-02, -6.78176651e-02,  6.31554396e-02,
        -3.50967483e-02],
       [-3.44713556e-01, -1.60723105e-01, -3.31067828e-01,
        -2.46001821e-02],
       [-3.33883865e-01, -2.09767983e-01, -2.86620377e-01,
        -6.24383006e-02],
       [ 5.66164306e-01,  2.96020890e-01,  4.55623756e-01,
         1.21559861e-01],
       [-3.44757459e-01, -1.03390847e-01, -3.68054735e-01,
         1.70602274e-02],
       [-3.45059598e-01, -1.50631087e-01, -3.37979994e-01,
        -1.71978728e-02],
       [ 3.59234959e-01,  1.63232027e-01,  2.95606862e-01,
         6.72674286e-02],
       [ 2.48870456e-01,  8.12754646e-02,  2.17435895e-01,
         3.02218084e-02],
       [ 4.27568837e-02, -6.63741117e-02,  6.79607032e-02,
        -3.50330981e-02],
       [-1.39598283e-01, -1.81883082e-01, -7.40261798e-02,
        -8.17806857e-02],
       [-3.14567529e-01, -2.32662780e-01, -2.48948345e-01,
        -8.30083836e-02],
       [ 7.09271696e-02, -4.66374216e-02,  8.86754794e-02,
        -2.64363909e-02],
       [-3.31212150e-01, -2.15907162e-01, -2.79494852e-01,
        -6.74429357e-02],
       [ 5.63068726e-02, -5.76090559e-02,  7.83937903e-02,
        -3.14271974e-02],
       [-3.32905674e-01, -2.12979652e-01, -2.83390525e-01,
        -6.49709364e-02],
       [ 5.43882229e-01,  2.90888271e-01,  4.32488215e-01,
         1.22372729e-01],
       [ 5.37413054e-01,  2.87364215e-01,  4.27081540e-01,
         1.21131118e-01],
       [ 3.65208457e-01,  1.67528538e-01,  2.99927684e-01,
         6.91712544e-02],
       [ 3.20372139e-01,  1.32787945e-01,  2.69101233e-01,
         5.30713027e-02],
       [ 4.23224657e-01,  2.09029829e-01,  3.42039273e-01,
         8.74963938e-02],
       [ 3.68097546e-01,  1.69746210e-01,  3.01927483e-01,
         7.01935041e-02],
       [ 2.21820827e-01,  5.90986450e-02,  1.99622989e-01,
         1.96239456e-02],
       [ 4.81291160e-01,  2.53595620e-01,  3.82236332e-01,
         1.08037616e-01],
       [-3.44692214e-01, -1.59012051e-01, -3.32144804e-01,
        -2.33614639e-02],
       [-3.36076659e-01, -2.00902182e-01, -2.94934121e-01,
        -5.55504128e-02],
       [ 4.42369853e-02, -6.54051034e-02,  6.90928785e-02,
        -3.46308047e-02],
       [ 2.54131362e-01,  8.35742312e-02,  2.22198082e-01,
         3.08195329e-02],
       [-1.24516152e-01, -1.72531967e-01, -6.21524560e-02,
        -7.80613089e-02],
       [-2.37610283e-03, -9.24837306e-02,  3.12219163e-02,
        -4.48022421e-02],
       [-3.54092188e-02, -1.16219083e-01,  7.31246274e-03,
        -5.53127740e-02],
       [-3.43664453e-01, -8.68350320e-02, -3.77423317e-01,
         2.88651209e-02],
       [ 4.75497119e-01,  2.50270980e-01,  3.77502369e-01,
         1.06803269e-01],
       [-3.43271134e-01, -8.33754018e-02, -3.79185343e-01,
         3.12983478e-02],
       [ 3.58270894e-01,  1.62664470e-01,  2.94828441e-01,
         6.70516049e-02],
       [ 5.44582465e-01,  2.91223633e-01,  4.33103136e-01,
         1.22473641e-01]])

In [678]:
# y_pred1

In [679]:
# plt.scatter(X_test, y_test, color = 'blue')
# plt.plot(X_train, lr.predict(X_train), color='red' )
# plt.title('acpc')
# plt.xlabel('x')
# plt.ylabel('y')
# plt.show()

In [680]:
from sklearn import metrics
print('Mae',metrics.mean_absolute_error(y_test,y_pred1))
print('Mse',metrics.mean_squared_error(y_test,y_pred1))
print('rmse',np.sqrt(metrics.mean_absolute_error(y_test,y_pred1)))

Mae 0.8544594075234082
Mse 1.061447578287315
rmse 0.9243697352917869

In [681]:
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.multioutput import MultiOutputClassifier

# knn = KNeighborsClassifier(n_neighbors=3)
# classifier = MultiOutputClassifier(knn, n_jobs=-1)
# classifier.fit(X_train,y_train)
# # classifier = KNeighborsClassifier(n_neighbors=3)
# # classifier.fit(X_train,y_train)

In [682]:
# y_pred  = classifier.predict(X_test)
# # y_pred

In [683]:
# # import the regressor
# from sklearn.tree import DecisionTreeRegressor

# # create a regressor object
# regressor = DecisionTreeRegressor(random_state = 0)

# # fit the regressor with X and Y data
# regressor.fit(X_train, y_train)

In [684]:
# # predicting a new value

# # test the output by changing values, like 3750
# y_pred2 = regressor.predict()

# # print the predicted price
# # print("Predicted price: % d\n"% y_pred)

In [685]:
# from sklearn.metrics import classification_report, confusion_matrix
# print(classification_report(y_test,y_pred))
# print(confusion_matrix(y_test,y_pred))

In [686]:
  # from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.metrics import r2_score,mean_absolute_error

In [687]:
# from sklearn.linear_model import LinearRegression,Ridge,Lasso
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
# from sklearn.svm import SVR
# from xgboost import XGBRegressor

In [688]:
# X_train= X_train.array.reshape(1, -1)
# X_test = X_test.array.reshape(-1, 1)

In [689]:

# step1 = LinearRegression()

# pipe = Pipeline([
#     ('step1',step1)
  
# ])

# pipe.fit(X_train,y_train)

# y_pred = pipe.predict(X_test)

# print('R2 score',r2_score(y_test,y_pred))
# print('MAE',mean_absolute_error(y_test,y_pred))